:root{
  --kursiv-text: 'Forte-SHA-Cyr';
  --main-font: 'Montserrat';
  --background-color:  #F4E8DB;
  --pink: #DEB2A9;
  --green: #8D8C70;
  --brown: #5D4631;
  --bg-color: #FCFCFC;
  --color-text: #000;
  --timer-font: 'GentiumPlus';
}